@use "src/assets/scss/colors";
@use "src/assets/scss/typography";
@use "src/assets/scss/breakpoints";

.privacy-section {
  margin: 1rem 0 3rem;
  padding: 0 8%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .title {
    font-size: 1.625rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.875rem;
    font-weight: typography.$medium;
  }
}
