<section class="privacy-section">
  <h2 class="title">Согласие на обработку персональных данных</h2>
  <div class="politics">
    <p>Используя сайт https://art-rings.ru в соответствии с Федеральным законом № 152-ФЗ "О персональных данных" от 27.07.2006 года, своей волей и в своем интересе выражаю свое безусловное согласие на обработку моих персональных данных ________________, зарегистрированной в соответствии с законодательством РФ по адресу: ____________________ (далее — Оператор).</p>
    <p>Персональные данные — любая информация, относящаяся к определенному или определяемому на основании такой информации физическому лицу.</p>
    <p>Мной выдано согласие на обработку следующих персональных данных: фамилия, имя, отчество, адрес электронной почты, телефон, почтовый адрес.</p>
    <p>Настоящее Согласие дано Оператору для совершения следующих действий с персональными данными с использованием средств автоматизации и / или без использования таких средств: сбор, систематизация, накопление, хранение, уточнение (обновление, изменение), использование, блокирование, обезличивание, уничтожение, удаление.</p>
    <p>Согласие даётся Оператору для обработки моих персональных данных в целях:</p>
    <ul>
      <li>
        <p>направление мне электронных писем;</p>
      </li>
      <li>
        <p>предоставление мне услуг и работ;</p>
      </li>
      <li>
        <p>направление мне информации, в том числе рекламной, об услугах и предложениях Оператора</p>
      </li>
    </ul>
    <p>Согласие действует до момента его отзыва путем направления соответствующего уведомления на электронный адрес ____________________________. В случае отзыва моего согласия Оператор вправе продолжить обработку персональных данных при наличии оснований, указанных в пунктах 2-11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ от 27.07.2006 г.</p>
  </div>
</section>