@use "src/assets/scss/colors";
@use "src/assets/scss/typography";
@use "src/assets/scss/breakpoints";

.wearing-section {
  margin: 1rem 0 3rem;
  padding: 0 8%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .title {
    font-size: 1.625rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.875rem;
    font-weight: typography.$medium;
  }

  .tips {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li::marker {
      color: colors.$color-secondary;
      font-size: 1.5rem;
    }
  }

  .summary {
    margin-top: 0.5rem;
  }
}
