<section class="carousel-section">
  <h2 class="heading">Особенные обручальные кольца</h2>
  <app-carousel
  [images]="carousel"
  ></app-carousel>
  <div class="gift">
    <div class="decoration">
      <hr>
      <img
      class="diamond"
      src="/assets/svg/diamond.svg"
      alt="diamond"
      >
      <hr>
    </div>
    <h3 class="gift-title">Бриллиант в подарок</h3>
  </div>
</section>
<section class="catalog-section">
  <h2 class="title">Каталог</h2>
  <div class="catalog">
    <div class="catalog-item">
      <a>Обручальные кольца</a>
    </div>
    <div class="catalog-item">
      <a>Помолвочные кольца</a>
    </div>
    <div class="catalog-item">
      <a>Свадебные дуэты</a>
    </div>
    <div class="catalog-item">
      <a>На заказ</a>
    </div>
  </div>
</section>