@use "src/assets/scss/colors";
@use "src/assets/scss/typography";
@use "src/assets/scss/breakpoints";

.carousel-section {
  padding: 1.5rem 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    font-size: 2rem;
    padding: 0 8%;
    text-transform: uppercase;
    text-align: center;

    @include breakpoints.tablet {
      font-size: 1.8rem;
    }

    @include breakpoints.new(700px) {
      font-size: 1.5rem;
    }

    @include breakpoints.new(550px) {
      font-size: 1.2rem;
    }

    @include breakpoints.mobile {
      font-size: 1rem;
    }
  }

  .gift {
    margin-top: 3.5rem;
    width: 100%;
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .decoration {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .diamond {
        width: 56px;
        height: 56px;
        margin: 0 5%;

        @include breakpoints.laptop {
          width: 44px;
          height: 44px;
        }

        @include breakpoints.tablet {
          width: 38px;
          height: 38px;
        }

        @include breakpoints.new(700px) {
          width: 32px;
          height: 32px;
        }
      }

      hr {
        width: 100%;
        height: 2px;
        border-color: colors.$color-secondary;
      }

      @include breakpoints.mobile {
        width: 100%;
      }
    }

    .gift-title {
      margin-top: 1.35rem;
      font-size: 1.25rem;
      text-transform: uppercase;
      font-weight: typography.$medium;

      @include breakpoints.new(700px) {
        margin-top: 0.85rem;
        font-size: 1rem;
      }

      @include breakpoints.mobile {
        font-size: 0.9rem;
      }
    }

    @include breakpoints.tablet {
      margin-top: 2rem;
    }

    @include breakpoints.mobile {
      margin-top: 1.5rem;
    }
  }

  @include breakpoints.tablet {
    margin-top: 0.5rem;
  }
}

.catalog-section {
  padding: 3rem 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$color-secondary;

  .title {
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;

    @include breakpoints.tablet {
      font-size: 2.15rem;
    }

    @include breakpoints.mobile {
      font-size: 1.8rem;
    }
  }

  .catalog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: calc(50% - 1.25rem);
      height: 385px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: white;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        background: transparent;
        margin: 5% 10%;
        border: 1px solid colors.$color-secondary;
        font-size: 0.875rem;
        font-weight: typography.$semi-bold;
        text-transform: uppercase;
        color: colors.$color-secondary;
      }

      @include breakpoints.tablet {
        flex-basis: 100%;
        background-size: cover;
      }
    }

    &-item:nth-child(1) {
      background-image: url("/assets/img/category-1.png");
    }

    &-item:nth-child(2) {
      background-image: url("/assets/img/category-2.png");
    }

    &-item:nth-child(3) {
      background-image: url("/assets/img/category-3.png");
    }

    &-item:nth-child(4) {
      background-image: url("/assets/img/category-4.png");
    }
  }
}
