<section class="slider-section">
  <h2 class="heading">Особенные обручальные кольца</h2>
  <app-slider
  [images]="slider"
  ></app-slider>
  <app-gift-decoration
  class="gift-decoration"
  ></app-gift-decoration>
</section>
<section class="catalog-section">
  <h2 class="title">Каталог</h2>
  <div class="catalog">
    <div class="catalog-item">
      <a>Обручальные кольца</a>
    </div>
    <div class="catalog-item">
      <a>Помолвочные кольца</a>
    </div>
    <div class="catalog-item">
      <a>Свадебные дуэты</a>
    </div>
    <div class="catalog-item">
      <a>На заказ</a>
    </div>
  </div>
</section>
<section class="innovations-section">
  <h2 class="title">Новинки</h2>
  <div class="products-carousel" *ngIf="media.isActive('gt-xs'); else rows">
    <app-carousel>
      <app-carousel-item *ngFor="let i of [].constructor(15)" class="item-host">
        <app-product-card ></app-product-card>
      </app-carousel-item>
    </app-carousel>
  </div>
  <ng-template #rows>
    <div class="rows">
      <div class="row" *ngFor="let i of [].constructor(6)">
        <app-product-card
        class="card-small"
        [favourite.height.px]="16"
        [rating.height.px]="16"
        [price.fontSize.px]="14"
        ></app-product-card>
        <app-product-card class="card"></app-product-card>
      </div>
    </div>
  </ng-template>
</section>