@use "src/assets/scss/colors";
@use "src/assets/scss/typography";

.textarea {
  height: 100%;
  width: 100%;
  border: 1px solid colors.$color-tertiary;
  color: rgba($color: black, $alpha: 0.5);
  padding: 1rem 0.75rem;
  resize: none;
}
