<section class="guarantees-section">
  <h2 class="title">Гарантии</h2>
  <div class="descriptions">
    <p>Art-Rings предоставляет своим клиентам пожизненную гарантию на подлинность материалов и камней, из которых изготовлены наши ювелирные изделия.</p>
    <p>Все ювелирные изделия Art-Rings клеймированы в соответствии с требованиями Пробирной палаты Российской Федерации, камни прошли геммологическую экспертизу.</p>
    <p>Гарантия на форму кольца, полировку, гальванические покрытия и закрепку камней до 0,01 Кт составляет 1 год.</p>
  </div>
</section>