<footer class="footer">
  <div class="column" *ngIf="media.isActive('gt-md')">
    <a>
      <img
      src="/assets/svg/logo.svg"
      class="logo"
      >
    </a>
    <a class="politics">Политика конфиденциальности</a>
    <small>ИНН 672208547149</small>
  </div>
  <div class="column">
    <h3 class="title">Информация</h3>
    <ul class="nav">
      <li>
        <a>Студия</a>
      </li>
      <li>
        <a>О нас</a>
      </li>
      <li>
        <a>Доставка и оплата</a>
      </li>
      <li>
        <a>Гарантии</a>
      </li>
      <li>
        <a>Отзывы</a>
      </li>
    </ul>
  </div>
  <div class="column">
    <h3 class="title">Покупателям</h3>
    <ul class="nav">
      <li>
        <a>Бриллиант в подарок</a>
      </li>
      <li>
        <a>Как выбрать обручальные кольца</a>
      </li>
      <li>
        <a>О помолвочных кольцах</a>
      </li>
    </ul>
  </div>
  <div class="column">
    <h3 class="title">Ассортимент</h3>
    <ul class="nav">
      <li>
        <a>Все обручальные кольца</a>
      </li>
      <li>
        <a>Необычные обручальные кольца</a>
      </li>
      <li>
        <a>Классические обручальные кольца</a>
      </li>
      <li>
        <a>Помолвочные кольца</a>
      </li>
      <li>
        <a>Кольца с лебедями</a>
      </li>
      <li>
        <a>Обручальные кольца парные</a>
      </li>
    </ul>
  </div>
  <div class="column">
    <h3 class="title">Контакты</h3>
    <ul class="nav">
      <li>
        <a class="tel" href="tel:+7(977) 841 23 40">+7(977) 841 23 40</a>
      </li>
      <li>
        <a class="tel" href="tel:+7(499) 940 87 77">+7(499) 940 87 77</a>
      </li>
      <li>
        <address>Москва, Большой Кисловский переулок, 5-7c1</address>
      </li>
      <li>
        <a class="email" href="mailto:info@art-rings.ru">info@art-rings.ru</a>
      </li>
    </ul>
    <app-social-media *ngIf="media.isActive('gt-md')"></app-social-media>
  </div>
  <div class="column" *ngIf="media.isActive('lt-lg')">
    <app-social-media></app-social-media>
    <a class="politics">Политика конфиденциальности</a>
    <small>ИНН 672208547149</small>
  </div>
</footer>