<footer class="footer">
  <div class="column" *ngIf="media.isActive('gt-md')">
    <a routerLink="/">
      <img
      src="/assets/img/logo.png"
      class="logo"
      alt="logo"
      >
    </a>
    <a class="politics" routerLink="/privacy">Политика конфиденциальности</a>
    <small>ИНН 672208547149</small>
  </div>
  <div class="column">
    <h3 class="title">Информация</h3>
    <ul class="nav">
      <li>
        <a routerLink="/studio">Студия</a>
      </li>
      <li>
        <a routerLink="/about">О нас</a>
      </li>
      <li>
        <a routerLink="/shipping">Доставка и оплата</a>
      </li>
      <li>
        <a routerLink="/guarantees">Гарантии</a>
      </li>
      <li>
        <a routerLink="/contacts">Контакты</a>
      </li>
    </ul>
  </div>
  <div class="column">
    <h3 class="title">Покупателям</h3>
    <ul class="nav">
      <li>
        <a routerLink="/gift">Бриллиант в подарок</a>
      </li>
      <li>
        <a routerLink="/wearing">О помолвочных кольцах</a>
      </li>
    </ul>
  </div>
  <div class="column">
    <h3 class="title">Ассортимент</h3>
    <ul class="nav">
      <li>
        <a routerLink="/catalog/weddings-rings" [queryParams]="{ page: 1 }">Все обручальные кольца</a>
      </li>
      <li>
        <a routerLink="/catalog/engagement-rings" [queryParams]="{ page: 1 }">Помолвочные кольца</a>
      </li>
      <li>
        <a routerLink="/catalog/wedding-duets" [queryParams]="{ page: 1 }">Свадебные дуэты</a>
      </li>
    </ul>
  </div>
  <div class="column">
    <h3 class="title">Контакты</h3>
    <ul class="nav">
      <li>
        <a class="tel" href="tel:+7(977) 841 23 40">+7(977) 841 23 40</a>
      </li>
      <li>
        <a class="tel" href="tel:+7(499) 940 87 77">+7(499) 940 87 77</a>
      </li>
      <li>
        <address>Москва, Большой Кисловский переулок, 5-7c1</address>
      </li>
      <li>
        <a class="email" href="mailto:info@art-rings.ru">info@art-rings.ru</a>
      </li>
    </ul>
    <app-social-media *ngIf="media.isActive('gt-md')"></app-social-media>
  </div>
  <div class="column" *ngIf="media.isActive('lt-lg')">
    <app-social-media></app-social-media>
    <a class="politics" routerLink="/privacy">Политика конфиденциальности</a>
    <small>ИНН 672208547149</small>
  </div>
</footer>