@use "src/assets/scss/typography";
@use "src/assets/scss/breakpoints";
@use "src/assets/scss/colors";

.header {
  display: flex;
  flex-direction: column;

  .top-bar-host {
    min-height: 60px;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 8%;

    .top-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 40px;

      .nav-links {
        display: flex;
        gap: 2rem;

        a {
          font-size: 0.875rem;
          font-weight: typography.$light;
          color: rgba($color: black, $alpha: 0.5);
        }
      }

      .search {
        display: flex;
        gap: 1.35rem;

        .search-input {
          padding: 0.3rem 0.1rem;
          width: 235px;
          border: none;
          border-bottom: 0.06rem solid rgba($color: black, $alpha: 0.2);

          &::placeholder {
            color: rgba($color: black, $alpha: 0.5);
            font-weight: typography.$light;
            font-family: typography.$font-primary;
            font-size: 0.875rem;
          }
        }

        .search-icon {
          filter: brightness(0) saturate(100%) invert(8%) sepia(41%)
            saturate(5539%) hue-rotate(229deg) brightness(103%) contrast(113%);
        }
      }
    }

    .brand {
      width: 100%;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .name {
        text-transform: uppercase;
        font-weight: typography.$light;
      }

      .destination {
        font-size: 1rem;
        color: rgba($color: black, $alpha: 0.5);
        text-transform: uppercase;
      }
    }

    .main-nav {
      display: flex;
      align-items: center;
      gap: 2rem;

      .logo {
        width: 106px;
      }

      .navbar-toggler {
        height: 21px;
        background: none;
        border: none;

        .menu-icon {
          height: 100%;
        }
      }

      .nav-links-wrapper {
        flex-basis: 100%;
        margin: 0 8%;

        .nav-links {
          display: flex;
          justify-content: space-between;

          a {
            text-transform: uppercase;
          }
        }

        @include breakpoints.new(1450px) {
          margin: 0 5%;
        }

        @include breakpoints.new(1350px) {
          margin: 0 2.5%;
        }
      }

      .extra-links {
        display: flex;
        gap: 1.5rem;

        img {
          height: 24px;
        }
      }

      .brand {
        gap: 0.2rem;

        .name {
          font-size: 2rem;
        }

        .destination {
          font-size: 0.8rem;
        }
      }

      @include breakpoints.new(500px) {
        gap: 1.1rem;

        .brand {
          align-items: flex-start;

          .name {
            text-align: left;
            font-size: 1.35rem;
          }

          .destination {
            font-size: 0.6rem;
          }
        }
      }
    }

    .navbar-wrapper {
      background-color: colors.$color-fourtry;
      padding: 3% 8%;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;

      .navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;

        .close-button {
          position: absolute;
          top: 0;
          left: 0;
          background: none;
          border: none;

          .close-icon {
            width: 30px;
          }
        }

        .logo {
          height: 130px;

          @include breakpoints.tablet {
            height: 75px;
          }
        }

        .main-links {
          margin: 2rem 0 1rem;
          display: flex;
          flex-direction: column;
          gap: 2rem;

          li {
            display: flex;
            justify-content: center;

            a {
              font-family: typography.$font-secondary;
              font-size: 1.875rem;
              text-transform: uppercase;
              text-align: center;
              color: rgba($color: black, $alpha: 0.7);
            }
          }

          @include breakpoints.tablet {
            margin-bottom: 0.5rem;
            gap: 1.5rem;

            li a {
              font-size: 1.4rem;
            }
          }
        }

        .hr {
          margin: 3rem 0;
          width: 100%;
          border: 1px solid rgba($color: colors.$color-tertiary, $alpha: 0.2);
          border-radius: 1rem;
        }

        .navbar-footer {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          overflow: auto;

          .footer-links {
            display: flex;
            flex-direction: column;

            a {
              line-height: 1.5rem;
              font-size: 0.875rem;
            }

            .social-media-wrapper {
              margin-top: auto;
            }
          }

          @include breakpoints.tablet {
            justify-content: space-between;

            .footer-links:nth-last-child(1) {
              margin-top: 1.5rem;

              .social-media-wrapper {
                margin-top: 1rem;
              }
            }
          }

          @include breakpoints.new(500px) {
            .footer-links:nth-child(2) {
              display: none;
            }
          }
        }
      }

      @include breakpoints.tablet {
        padding-top: 1.5rem;
      }
    }
  }
}
