<header class="header">
  <app-top-bar class="top-bar-host"></app-top-bar>
  <div class="content">
    <div class="top-nav" *ngIf="media.isActive('gt-md')">
      <nav class="nav-links-wrapper">
        <ul class="nav-links">
          <li>
            <a>Студия</a>
          </li>
          <li>
            <a>О нас</a>
          </li>
          <li>
            <a>Доставка и оплата</a>
          </li>
          <li>
            <a>Гарантии</a>
          </li>
          <li>
            <a>Отзывы</a>
          </li>
        </ul>
      </nav>
      <div class="search">
        <input
        class="search-input"
        placeholder="Поиск украшений"
        >
        <img
        class="search-icon"
        src="/assets/svg/search.svg"
        alt="search"
        >
      </div>
    </div>
    <ng-container *ngIf="media.isActive('gt-md')">
      <ng-container *ngTemplateOutlet="brand"></ng-container>
    </ng-container>
    <div class="main-nav">
      <img
      *ngIf="media.isActive('gt-md')"
      class="logo"
      src="/assets/img/logo-alt.png"
      alt="logo"
      >
      <button class="navbar-toggler" aria-label="menu-toggler" (click)="toggleNavbar()">
        <img
        class="menu-icon"
        src="/assets/svg/burger.svg"
        alt="menu"
        >
      </button>
      <nav class="nav-links-wrapper" *ngIf="media.isActive('gt-md'); else brand">
        <ul class="nav-links">
          <li>
            <a>Обручальные кольца</a>
          </li>
          <li>
            <a>Помолвочные кольца</a>
          </li>
          <li>
            <a>Свадебные дуэты</a>
          </li>
          <li>
            <a routerLink="/custom">На заказ</a>
          </li>
        </ul>
      </nav>
      <nav class="extra-links-wrapper">
        <ul class="extra-links">
          <li>
            <a routerLink="/cart">
              <img
              src="/assets/svg/shopping-cart.svg"
              alt="cart"
              >
            </a>
          </li>
          <li>
            <a>
              <img
              src="/assets/svg/heart.svg"
              alt="favourites"
              >
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="navbar-wrapper" *ngIf="!navbarClosed">
      <div class="navbar-menu">
        <button class="close-button" aria-label="menu-close" (click)="toggleNavbar()">
          <img
          class="close-icon"
          src="/assets/svg/close.svg"
          alt="close"
          >
        </button>
        <img
        class="logo"
        src="/assets/img/logo-alt-large.png"
        alt="logo"
        >
        <nav class="main-links-wrapper">
          <ul class="main-links">
            <li>
              <a>Студия</a>
            </li>
            <li>
              <a>О нас</a>
            </li>
            <li>
              <a>Доставка и оплата</a>
            </li>
            <li>
              <a>Гарантии</a>
            </li>
            <li>
              <a>Контакты</a>
            </li>
          </ul>
        </nav>
        <hr class="hr">
        <nav class="navbar-footer">
          <ul class="footer-links">
            <li>
              <a>Все обручальные кольца</a>
            </li>
            <li>
              <a>Необычные обручальные кольца</a>
            </li>
            <li>
              <a>Классические обручальные кольца</a>
            </li>
            <li>
              <a>Помолвочные кольца</a>
            </li>
            <li>
              <a>Кольца с лебедями</a>
            </li>
            <li>
              <a>Обручальные кольца парные</a>
            </li>
          </ul>
          <ul class="footer-links">
            <li>
              <a>Студия</a>
            </li>
            <li>
              <a>О нас</a>
            </li>
            <li>
              <a>Контакты</a>
            </li>
            <li>
              <a>Доставка и оплата</a>
            </li>
            <li>
              <a>Гарантии</a>
            </li>
            <li>
              <a>Отзывы</a>
            </li>
          </ul>
          <ul class="footer-links">
            <li>
              <a>Бриллиант в подарок</a>
            </li>
            <li>
              <a>Как выбрать обручальные кольца</a>
            </li>
            <li>
              <a>О помолвочных кольцах</a>
            </li>
            <li class="social-media-wrapper">
              <app-social-media></app-social-media>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <ng-template #brand>
      <div class="brand">
        <h1 class="name">Art-Rings</h1>
        <h2 class="destination">Moscow jewelry studio</h2>
      </div>
    </ng-template>
  </div>
</header>