<header class="header">
  <app-top-bar class="top-bar-host"></app-top-bar>
  <div class="content">
    <div class="top-nav" *ngIf="media.isActive('gt-md')">
      <nav class="nav-links-wrapper">
        <ul class="nav-links">
          <ng-container *ngTemplateOutlet="links"></ng-container>
        </ul>
      </nav>
      <div class="search">
        <input
        class="search-input"
        placeholder="Поиск украшений"
        >
        <img
        class="search-icon"
        src="/assets/svg/search.svg"
        alt="search"
        >
      </div>
    </div>
    <ng-container *ngIf="media.isActive('gt-md')">
      <ng-container *ngTemplateOutlet="brand"></ng-container>
    </ng-container>
    <div class="main-nav">
      <a routerLink="/" *ngIf="media.isActive('gt-md')">
        <img
        class="logo"
        src="/assets/img/logo-alt.png"
        alt="logo"
        >
      </a>
      <button class="navbar-toggler" aria-label="menu-toggler" (click)="openNavbar()">
        <img
        class="menu-icon"
        src="/assets/svg/burger.svg"
        alt="menu"
        >
      </button>
      <nav class="nav-links-wrapper" *ngIf="media.isActive('gt-md'); else brand">
        <ul class="nav-links">
          <li>
            <a routerLink="/catalog/weddings-rings" [queryParams]="{ page: 1 }">Обручальные кольца</a>
          </li>
          <li>
            <a routerLink="/catalog/engagement-rings" [queryParams]="{ page: 1 }">Помолвочные кольца</a>
          </li>
          <li>
            <a routerLink="/catalog/wedding-duets" [queryParams]="{ page: 1 }">Свадебные дуэты</a>
          </li>
          <li>
            <a routerLink="/custom">На заказ</a>
          </li>
        </ul>
      </nav>
      <nav class="extra-links-wrapper">
        <ng-container *ngrxLet="guest$ as guest">
          <ul class="extra-links">
            <li>
              <a routerLink="/cart" class="cart-link">
                <img
                src="/assets/svg/shopping-cart.svg"
                class="cart-icon"
                alt="cart"
                >
                <span class="count" *ngIf="guest.data?.cart as cartQty">{{ cartQty }}</span>
              </a>
            </li>
            <li>
              <a routerLink="/wishlist" class="wishlist-link">
                <img
                src="/assets/svg/heart.svg"
                class="favourites-icon"
                alt="favourites"
                >
                <span class="count" *ngIf="guest.data?.wishlist as wishlistQty">{{ wishlistQty }}</span>
              </a>
            </li>
          </ul>
        </ng-container>
      </nav>
    </div>
    <div class="navbar-wrapper" *ngIf="!navbarClosed">
      <div class="navbar-menu">
        <button class="close-button" aria-label="menu-close" (click)="closeNavbar()">
          <img
          class="close-icon"
          src="/assets/svg/close.svg"
          alt="close"
          >
        </button>
        <a routerLink="/">
          <img
          class="logo"
          src="/assets/img/logo-alt-large.png"
          alt="logo"
          >
        </a>
        <nav class="main-links-wrapper">
          <ul class="main-links">
            <ng-container *ngTemplateOutlet="links"></ng-container>
          </ul>
        </nav>
        <hr class="hr">
        <nav class="navbar-footer">
          <ul class="footer-links">
            <li>
              <a routerLink="/catalog/weddings-rings" [queryParams]="{ page: 1 }">Все обручальные кольца</a>
            </li>
            <li>
              <a routerLink="/catalog/engagement-rings" [queryParams]="{ page: 1 }">Помолвочные кольца</a>
            </li>
            <li>
              <a routerLink="/catalog/wedding-duets" [queryParams]="{ page: 1 }">Свадебные дуэты</a>
            </li>
          </ul>
          <ul class="footer-links">
            <ng-container *ngTemplateOutlet="links"></ng-container>
          </ul>
          <ul class="footer-links">
            <li>
              <a routerLink="/gift">Бриллиант в подарок</a>
            </li>
            <li>
              <a routerLink="/wearing">О помолвочных кольцах</a>
            </li>
            <li>
              <app-social-media class="social-media"></app-social-media>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <ng-template #brand>
      <div class="brand">
        <h1 class="name">Art-Rings</h1>
        <h2 class="destination">Moscow jewelry studio</h2>
      </div>
    </ng-template>
    <ng-template #links>
      <li>
        <a routerLink="/studio">Студия</a>
      </li>
      <li>
        <a routerLink="/about">О нас</a>
      </li>
      <li>
        <a routerLink="/shipping">Доставка и оплата</a>
      </li>
      <li>
        <a routerLink="/guarantees">Гарантии</a>
      </li>
      <li>
        <a routerLink="/contacts">Контакты</a>
      </li>
    </ng-template>
  </div>
</header>