<header class="header">
  <app-top-bar class="top-bar-host"></app-top-bar>
  <div class="content">
    <nav class="top-nav">
      <ul class="nav-links">
        <li>
          <a>Студия</a>
        </li>
        <li>
          <a>О нас</a>
        </li>
        <li>
          <a>Доставка и оплата</a>
        </li>
        <li>
          <a>Гарантии</a>
        </li>
        <li>
          <a>Отзывы</a>
        </li>
      </ul>
      <div class="search">
        <input
        class="search-input"
        placeholder="Поиск украшений"
        >
        <img
        class="search-icon"
        src="/assets/svg/search.svg"
        alt="search"
        >
      </div>
    </nav>
  </div>
</header>