<div class="social-media">
  <a>
    <img
    class="icon"
    src="/assets/svg/facebook.svg"
    alt="facebook"
    >
  </a>
  <a>
    <img
    class="icon"
    src="/assets/svg/vk.svg"
    alt="vk"
    >
  </a>
  <a>
    <img
    class="icon"
    src="/assets/svg/whatsapp.svg"
    alt="whatsapp"
    >
  </a>
  <a>
    <img
    class="icon"
    src="/assets/svg/instagram.svg"
    alt="instagram"
    >
  </a>
  <a>
    <img
    class="icon"
    src="/assets/svg/telegram.svg"
    alt="telegram"
    >
  </a>
</div>