<div class="social-media">
  <a href="https://www.facebook.com/" target="_blank">
    <img
    class="icon"
    src="/assets/svg/facebook.svg"
    alt="facebook"
    >
  </a>
  <a href="https://vk.com/" target="_blank">
    <img
    class="icon"
    src="/assets/svg/vk.svg"
    alt="vk"
    >
  </a>
  <a href="https://www.whatsapp.com/" target="_blank">
    <img
    class="icon"
    src="/assets/svg/whatsapp.svg"
    alt="whatsapp"
    >
  </a>
  <a href="https://www.instagram.com/" target="_blank">
    <img
    class="icon"
    src="/assets/svg/instagram.svg"
    alt="instagram"
    >
  </a>
  <a href="https://telegram.org/" target="_blank">
    <img
    class="icon"
    src="/assets/svg/telegram.svg"
    alt="telegram"
    >
  </a>
</div>