<section class="gift-section">
  <app-gift-decoration
  class="gift-decoration"
  ></app-gift-decoration>
  <div class="descriptions">
    <p>На свадьбу все дарят подарки, и у Art-Rings для молодожёнов приготовлено нечто особенное!</p>
    <p>Мы дарим подарок, который всегда будет с Вами!</p>
    <p>Бриллиант в каждое обручальное кольцо с нашей эмблемой совершенно бесплатно!</p>
    <strong>Для более подробной информации, пожалуйста, свяжитесь с менеджерами по телефону +7 (499) 940-87-77, приезжайте в наш офис: Большой Кисловский переулок, 5-7с1 или пишите  info@art-rings.ru</strong>
  </div>
  <img
  class="gift-image"
  src="/assets/img/gift.png"
  alt="gift"
  >
</section>