<section class="shipping-section">
  <h2 class="title">Доставка и оплата</h2>
  <div class="descriptions">
    <p>Все ювелирные изделия Art-Rings изготавливаются после получения компанией информации по следующим параметрам: материал изделия (изделий), материал вставок, а также после осуществления предоплаты в размере 50% от стоимости заказа.</p>
    <p>Доставка в регионы России (кроме Москвы) осуществляется транспортной компанией согласно правилам транспортировки ювелирных изделий и производится бесплатно.</p>
  </div>
</section>