@use "src/assets/scss/colors";
@use "src/assets/scss/typography";
@use "src/assets/scss/breakpoints";

.order-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .row {
    display: flex;
    gap: 1.5rem;

    .email,
    .phone {
      flex-basis: 50%;
    }

    @include breakpoints.mobile {
      flex-wrap: wrap;

      .email,
      .phone {
        flex-basis: 100%;
      }
    }
  }

  .error {
    color: crimson;
    font-size: 0.875rem;
  }

  label {
    font-size: 0.75rem;
    color: colors.$color-tertiary;
    line-height: 150%;
  }
}
