<div class="product-card">
  <div class="heading">
    <div class="row">
      <span class="identifier">Арт. {{ product.identifier }}</span>
      <app-rating
      class="rating"
      [style.height.px]="ratingHeight"
      [rating]="product.rating"
      ></app-rating>
    </div>
  </div>
  <button class="image-wrapper-button" (click)="onProductClick()">
    <img
    *ngIf="product.images[0] as image"
    [src]="image.source"
    [alt]="image.alt"
    >
  </button>
  <div class="row" *ngIf="wishlist$ | async as wishlist">
    <button class="wishlist-button">
      <img
      src="/assets/svg/heart.svg"
      (click)="onWishedClick(wishlist)"
      [style.height.px]="favouriteHeight"
      class="favourite-icon"
      [class.wished]="isWished(wishlist)"
      alt="favourite"
      >
    </button>
    <span
    [style.fontSize.px]="priceFontSize"
    class="price">
    {{ product.price }} &#8381;
    </span>
  </div>
</div>